<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/dashboard/">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,600" rel="stylesheet">
    <link href = "../static/style.css" rel = "stylesheet" type = "text/css" >
    <link href = "../static/dashboard.css" rel = "stylesheet" type = "text/css">

    <title>Admin Portal</title>
  </head>

  <body>

  <div id="popup-container">
     <div id="popup-content">
      <p style="font-size:20px;">Info for Patient {{ patient_data.0.0 }}</p>
       <p>{{ patient_data.0.1 }} | {{ patient_data.0.2 }} | {{ patient_data.0.3 }}</p>
       <div class="table-responsive" style="height:350px;">
                  <table class="table table-striped table-sm">
                    <!--  jquery stuff needs to be able to change this -->
                      <thead>
                        <tr>
                          {% for encounter_field in encounter_fields %}
                          <th>{{ encounter_field }}</th>
                          {% endfor %}
                        </tr>
                      </thead>
                      <tbody style="font-size:12px;">
                        {% for row in encounter_data %}
                        <tr class="row-data">
                          {% for value in row %}
                          <td style="min-width:48px;max-width:100px;">{{ value }}</td>
                          {% endfor %}
                        </tr>
                        {% endfor %}
                      </tbody>
                  </table>
                </div>
       <button onclick="hidePopup()">Close</button>
     </div>
  {% if patient_data %}
      <script>document.getElementById("popup-container").style.visibility = "visible";</script>
    {% endif %}

  </div>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Charlotte + Steph</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Enter patient id" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Search for patient</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/add">
                  <span data-feather="file"></span>
                  Add Patient
                </a>
              </li>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved tables</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Table 1
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Table 2
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Table 3
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Save table</button>
              </div>
            </div>
          </div>
          <div>
            <div class = "all-filters">

              <div class="filter">
                <p class="filter-title">Gender</p>
                <select name="Gender" form="filter-form">
                  <option value="" disabled selected>Select...</option>
                  <option value="Female">Female</option>
                  <option value="Male">Male</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <div class="filter">
                <p class="filter-title">Race</p>
                <select name="Race" form="filter-form">
                  <option value="" disabled selected>Select...</option>
                  <option value="AfricanAmerican">African American</option>
                  <option value="Asian">Asian</option>
                  <option value="Caucasian">Caucasian</option>
                  <option value="Hispanic">Hispanic</option>
                  <option value="Other">Other</option>
                  <option value="?">Unknown</option>
                </select>
              </div>
              <div class="filter">
                <p class="filter-title">Age Range</p>
                <select name="Age" form="filter-form">
                  <option value="" disabled selected>Select...</option>
                  <option value="[0-10)">[0-10)</option>
                  <option value="[10-20)">[10-20)</option>
                  <option value="[20-30)">[20-30)</option>
                  <option value="[30-40)">[30-40)</option>
                  <option value="[40-50)">[40-50)</option>
                  <option value="[50-60)">[50-60)</option>
                  <option value="[60-70)">[60-70)</option>
                  <option value="[70-80)">[70-80)</option>
                  <option value="[80-90)">[80-90)</option>
                  <option value="[90-100)">[90-100)</option>
                </select>
              </div>
              <div class="filter">
                <p class="filter-title">Medication</p>
                <select name="Medication" form="filter-form">
                  <option value="" disabled selected>Select...</option>
                  <option value="metformin">Metformin</option>
                  <option value="repaglinide">Repaglinide</option>
                  <option value="nateglinide">Nateglinide</option>
                  <option value="chlorpropamide">Chlorpropamide</option>
                  <option value="glimepiride">Glimepiride</option>
                  <option value="acetohexamide">Acetohexamide</option>
                  <option value="glipizide">Glipizide</option>
                  <option value="glyburide">Glyburide</option>
                  <option value="tolbutamide">Tolbutamide</option>
                  <option value="pioglitazone">Pioglitazone</option>
                  <option value="rosiglitazone">Rosiglitazone</option>
                  <option value="acarbose">Acarbose</option>
                  <option value="miglitol">Miglitol</option>
                  <option value="troglitazone">Troglitazone</option>
                  <option value="tolazamide">Tolazamide</option>
                  <option value="examide">Examide</option>
                  <option value="citoglipton">Citoglipton</option>
                  <option value="insulin">Insulin</option>
                  <option value="glyburide-metformin">Glyburide-metformin</option>
                  <option value="glipizide-metformin">Glipizide-metformin</option>
                  <option value="glimepiride-pioglitazone">Glimepiride-pioglitazone</option>
                  <option value="metformin-rosiglitazone">Metformin-rosiglitazone</option>
                  <option value="metformin-pioglitazone">Metformin-pioglitazone</option>
                </select>
              </div>
              <div class="filter">
                <p class="filter-title">A1c Result</p>
                <select name="a1c_result" form="filter-form">
                  <option value="" disabled selected>Select...</option>
                  <option value=">7">> 7%</option>
                  <option value=">8">> 8% </option>
                  <option value="None">None</option>
                  <option value="Norm">Norm</option>
                </select>
              </div>
              <div class="filter">
                <p class="filter-title">Glucose Level</p>
                <select name="glucose_result" form="filter-form">
                  <option value="" disabled selected>Select...</option>
                  <option value=">200">> 200 mg/dL</option>
                  <option value=">300">> 300 mg/dL </option>
                  <option value="None">None</option>
                  <option value="Norm">Norm</option>
                </select>
              </div>
              <div class="filter">
                <p class="filter-title">Admission Source</p>
                <select name="source_id" form="filter-form">
                  <option value="" disabled selected>Select...</option>
                  <option value="1">Physician Referral</option>
                  <option value="2">Clinic Referral</option>
                  <option value="3">HMO Referral</option>
                  <option value="4">Transfer from a hospital</option>
                  <option value="5">Transfer from a Skilled Nursing Facility (SNF)</option>
                  <option value="6">Transfer from another health care facility</option>
                  <option value="7">Emergency Room</option>
                  <option value="8">Court/Law Enforcement</option>
                  <option value="9">Not Available</option>
                  <option value="10">Transfer from critical access hospital</option>
                  <option value="11">Normal Delivery</option>
                  <option value="12">Premature Delivery</option>
                  <option value="13">Sick Baby</option>
                  <option value="14">Extramural Birth</option>
                  <option value="15">Not Available</option>
                  <option value="17">NULL</option>
                  <option value="18">Transfer From Another Home Health Agency</option>
                  <option value="19">Readmission to Same Home Health Agency</option>
                  <option value="20">Not Mapped</option>
                  <option value="21">Unknown/Invalid</option>
                  <option value="22">Transfer from hospital inpt/same fac reslt in a sep claim</option>
                  <option value="23">Born inside this hospital</option>
                  <option value="24">Born outside this hospital</option>
                  <option value="25">Transfer from Ambulatory Surgery Center</option>
                  <option value="26">Transfer from Hospice</option>
                </select>
              </div>
              <div class = "filter">
                <p class="filter-title"> Graph type</p>
                <input id="graphtype" name="graphtype" type="radio" value="pie" checked = "checked" form="filter-form"> pie chart &nbsp; &nbsp;
                <input id="graphtype" name="graphtype" type="radio" value="bar" form="filter-form"> bar graph
              </div>
              <div class="filter">
                <p class="filter-title">Discharge Destination</p>
                <select name="discharge_id" form="filter-form">
                  <option value="" disabled selected>Select...</option>
                  <option value="1">Discharged to home</option>
                  <option value="2">Discharged/transferred to another short term hospital</option>
                  <option value="3">Discharged/transferred to SNF</option>
                  <option value="4">Discharged/transferred to ICF</option>
                  <option value="5">Discharged/transferred to another type of inpatient care institution</option>
                  <option value="6">Discharged/transferred to home with home health service</option>
                  <option value="7">Left AMA</option>
                  <option value="8">Discharged/transferred to home under care of Home IV provider</option>
                  <option value="9">Admitted as an inpatient to this hospital</option>
                  <option value="10">Neonate discharged to another hospital for neonatal aftercare</option>
                  <option value="11">Expired</option>
                  <option value="12">Still patient or expected to return for outpatient services</option>
                  <option value="13">Hospice/home</option>
                  <option value="14">Hospice/medical facility</option>
                  <option value="15">Discharged/transferred within this institution to Medicare approved swing bed</option>
                  <option value="16">Discharged/transferred/referred another institution for outpatient services</option>
                  <option value="17">Discharged/transferred/referred to this institution for outpatient services</option>
                  <option value="18">NULL</option>
                  <option value="19">Expired at home. Medicaid only, hospice.</option>
                  <option value="20">Expired in a medical facility. Medicaid only, hospice.</option>
                  <option value="21">Expired, place unknown. Medicaid only, hospice.</option>
                  <option value="22">Discharged/transferred to another rehab fac including rehab units of a hospital .</option>
                  <option value="23">Discharged/transferred to a long term care hospital.</option>
                  <option value="24">Discharged/transferred to a nursing facility certified under Medicaid but not certified under Medicare.</option>
                  <option value="25">Not Mapped</option>
                  <option value="26">Unknown/Invalid</option>
                  <option value="27">Discharged/transferred to a federal health care facility.</option>
                  <option value="28">Discharged/transferred/referred to a psychiatric hospital of psychiatric distinct part unit of a hospital</option>
                  <option value="29">Discharged/transferred to a Critical Access Hospital (CAH).</option>
                  <option value="30">Discharged/transferred to another Type of Health Care Institution not Defined Elsewhere</option>
                </select>
              </div>
            </div>
          </div>
          <div class = "d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 filter-test">
            <form method="post" id="filter-form"><input type="submit" class="btn-toolbar btn btn-outline-secondary" value="Filter">
            {% csrf_token %}
            </form>
          </div>
         <div id="bootstrap-override">
                <div class="table-responsive" style="height:400px">
                  <table class="table table-striped table-sm">
                    <!--  jquery stuff needs to be able to change this -->
                    {% if data %}
                      <thead>
                        <tr>
                          {% for table_field in table_fields %}
                            <th>{{ table_field }}</th>
                          {% endfor %}
                        </tr>
                      </thead>
                      <tbody>
                        {% for row in data %}
                        <tr class="row-data" onclick="sendData(this.closest('tr'))">
                          {% for value in row %}
                          <td>{{ value }}</td>
                          {% endfor %}
                        </tr>
                        {% endfor %}
                      </tbody>
                    {% else %}
                      No patients match your search query. Please try again.
                    {% endif %}
                  </table>
                </div>

                <div>
                  <br>
                {% if filters %}
                  <h5>Filters used</h5>
                    <p>
                      |
                      {% for filter in filters %}
                        <i>{{ filter }}</i> |
                      {% endfor %}
                    </p>
                    <p>{{ size }} rows<p>
                      {% if charts %}
                      <br>
                      <h5>Data analysis from these filters</h5>

                        {% for chart in charts %}
                          {{ chart |safe }} &nbsp;&nbsp;&nbsp;&nbsp;
                        {% endfor %}
                        <br>
                      {% endif %}

                {% endif %}
               </div>
          <!-- <form method="post" id="patient-form">
            <input name="select-patient" id="patient-id" type="hidden" value="Default">{% csrf_token %}</form> -->

         </div>
        </main>
      </div>
    </div>
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="../static/dashboard.js"></script>
    <script type="text/javascript" src="../static/main.js"></script>
    </body>
</html>
